<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hr.rainbow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".data.local.tag_search_suggestion.TagSearchSuggestionProvider"
            android:authorities="hr.rainbow.tag.search.suggestion"
            android:enabled="true"
            android:exported="false"></provider>

        <receiver
            android:name=".domain.DownloadDataReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".domain.DownloadDataService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".data.local.recent_search_suggestion.RecentSearchSuggestionProvider"
            android:authorities="hr.rainbow.recent.search.suggestion"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.EntryActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.UploadImageHandlerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StoryViewerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" /> <!-- Removing default WorkManager initialization -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="hr.rainbow.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider> <!-- For us needed, so we can define where should camera store image -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hr.rainbow.images"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>